---
layout: page
title: About Us
permalink: /about/
categories: navbar
panels:
  - heading: Who We Are?
    description: Venue Media specializes in providing digital advertising and information systems. Using the highest quality, up-to-the-minute equipment, Venue Media aims to continue the strong growth of our customer portfolio.
    image_url: /img/about_us_1.png
  - heading: What We Do?
    description: We deliver high quality advertising using the latest technology. We have a dedicated team of representatives, graphic designers, technology advisers, production experts and an excellent customer service staff. We are on hand to ensure the information displayed on the screens is relevant and up to date at all times. We are also fully responsible for the installation and maintenance of the system.
    image_url: /img/about_us_3.png
  - heading: Where Will You See Us?
    description: We have successfully installed our screens and equipment in an extensive network of venues, including Music &amp; Special Event Complexes, Restaurants &amp; Leisure Facilities, Colleges &amp; Universities, and Medical Centers &amp; Hospitals. Each screen location is specifically chosen to ensure maximum exposure to your target audience.
    image_url: /img/about_us_2.png
---

<p class="lead">
    Venue Media, the digital signage solution, providing brand awareness and exposure for your business in your community.
</p>

<div class="container">
    <div class="row">
    {% for panel in page.panels %}
        <div class="col-md-4">
            <img src="{{ panel.image_url }}"
                 alt="{{ panel.title }}"
                 class="img-responsive">
        </div>
    {% endfor %}
    </div>

    <div class="row">
    {% for panel in page.panels %}
        <div class="col-md-4">
            <h3 class="text-primary">
                {{ panel.heading }}
            </h3>

            <p class="small">
                {{ panel.description }}
            </p>
        </div>
    {% endfor %}
    </div>
</div>

<div class="row">
    <div class="colorized">
        <h2>
            Why Choose Us?
        </h2>

        <p>
            Why? Because we know what our customers want. We work with your annual cycle and your peak times, helping you get the most out of your advertisements - so you can use your free artwork provided by our talented staff to give a specific message when it is most effective. If you think that your venue fits with this strategy, and would benefit, please get in touch!
        </p>
    </div>
</div>
    
