---
layout: page
title: About Us
permalink: /about/
categories: navbar
panels:
  - heading: Who We Are?
    description: |
        Venue Media specializes in providing digital advertising and information systems. Venue
        Media aims to continue the strong growth of our customer portfolio.
    image_url: /img/about/juice.png
  - heading: What We Do?
    description: |
        We grow business. We deliver relevant high quality ads using the latest technology for
        advertisers AND develop inform, promote and educate the customers on behalf of our Venue
        Hosts. Win/Win.  We have a dedicated team of; graphic designers, technology advisers,
        production experts and an excellent customer service staff. We are also fully responsible
        for the installation and maintenance of the system.
    image_url: /img/about/example.png
  - heading: Why Choose Us?
    description: |
        Why? Because when your business grows, our business grows! We work with your annual cycle
        and your peak times, helping you get the most out of your advertisements &dash; We’ll
        provide you with commercial grade advertisements <strong><u>free</u></strong> of charge, developed by our
        professional graphic and production designers.
    image_url: /img/about/bar.jpg
---

<p class="lead">
    Venue Media, the digital signage solution, providing brand awareness and exposure for your business in your community.
</p>

<div class="container">
    <div class="row">
    {% for panel in page.panels %}
        <div class="col-md-4">
            <img src="{{ panel.image_url }}"
                 alt="{{ panel.title }}"
                 class="img-responsive">
        </div>
    {% endfor %}
    </div>

    <div class="row">
    {% for panel in page.panels %}
        <div class="col-md-4">
            <h3 class="text-primary">
                {{ panel.heading }}
            </h3>

            <p class="small">
                {{ panel.description }}
            </p>
        </div>
    {% endfor %}
    </div>
</div>
