---
layout: page
title: About Us
permalink: /about/
categories: navbar
panels:
  - heading: Who We Are?
    description: Since 2014 Venue Media has specialized in providing digital advertising and information systems. Using the highest quality, up-to-the-minute equipment, Venue Media aims to continue the strong growth of its customer portfolio whilst ensuring that the opportunities to embrace new technology to maximise advertising impact and professional image for customers are always taken.
    image_url: /img/about_us_1.png
  - heading: What We Do?
    description: We deliver high quality advertising using the latest technology. With a dedicated team of representatives, graphic designers, technology advisers, production experts and an excellent customer service team, we are on hand to guide you through your tailor made requirements to ensure the information displayed on the screens is relevant and up to date at all times. We are also fully responsible for the installation and maintenance of the system.
    image_url: /img/about_us_3.png
  - heading: Where Will You See Us?
    description: We have successfully installed our screens and equipment in an extensive network of venues, including Medical Centers, Colleges and Universities, Leisure Centers, Sports and Music Arenas, Action/Adventure Centers and Livestock Markets. Each screen location is specifically chosen to ensure maximum exposure to your target audience. This is to ensure your advertisement or network is viewed by all returning and potential customers.
    image_url: /img/about_us_2.png
---

<p class="lead">
    Venue Media, the digital signage solution, providing brand awareness and exposure for your business in your community.
</p>

<div class="container">
    <div class="row">
    {% for panel in page.panels %}
        <div class="col-md-4">
            <img src="{{ panel.image_url }}"
                 alt="{{ panel.title }}"
                 class="img-responsive">
        </div>
    {% endfor %}
    </div>

    <div class="row">
    {% for panel in page.panels %}
        <div class="col-md-4">
            <h3>
                {{ panel.heading }}
            </h3>

            <p class="small">
                {{ panel.description }}
            </p>
        </div>
    {% endfor %}
    </div>
</div>

<div class="row">
    <h2>
        Why Choose Us?
    </h2>

    <p>
        Venue Media is one of the largest point of purchase digital advertising companies in North America … Why? Because we know what our customers want. We work with your annual cycle and your peak times, helping you get the most from your busy times of year - so you can use your free artwork changes to give a specific message when it is most effective. If you think that your venue fits with this strategy, and would benefit, please get in touch!
    </p>
</div>
    
