---
layout: page
carousel_images:
  - index: 0
    src: /img/carousel/carousel_1.jpg
  - index: 1
    src: /img/carousel/carousel_4.jpg
  - index: 2
    src: /img/carousel/carousel_5.jpg
  - index: 3
    src: /img/carousel/carousel_3.jpg
  - index: 4
    src: /img/carousel/carousel_2.jpg
---

<div id="vm-carousel"
     class="carousel slide"
     data-ride="carousel"
     data-interval="6600">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for image in page.carousel_images %}
        <li data-target="#vm-carousel"
            data-slide-to="{{ image.index }}"
            {% if image.index == 0 %}class="active"{% endif %}>
        </li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for image in page.carousel_images %}
        <div class="item {% if image.index == 0 %}active{% endif %}">
            <img src="{{ image.src }}" alt="venue media image">
        </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control"
       href="#vm-carousel"
       role="button"
       data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
        </span>

        <span class="sr-only">
            Previous
        </span>
    </a>

    <a class="right carousel-control"
       href="#vm-carousel"
       role="button"
       data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </span>

        <span class="sr-only">
            Next
        </span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="colorized">
            <h3>
                About Us
            </h3>

            <p>
                Venue Media specializes in providing digital advertising and information systems, giving high traffic exposure to local businesses.
            </p>

            <p>
                We deliver high quality advertising using the latest technology.
            </p>

            <p>
                Click below to find out more!
            </p>

            <a class="btn btn-primary-custom" href="/about/">
                More Info
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="colorized">
            <h3>
                Venues
            </h3>

            <p>
                We are always looking to align ourselves with quality organizations such as; music venues, special event complexes, restaurants, leisure facilities, colleges/universities, medical centers and hospitals. Any places with high foot traffic will significantly benefit from our network of screens!
            </p>

            <a class="btn btn-primary-custom" href="/venues/">
                More Info
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="colorized">
            <h3>
                Our Product
            </h3>

            <p>
                A custom digital information channel designed specifically for your business. Our content provides informative, dynamic medium to convey information about your products, services and active campaigns. New content can be delivered to the network instantly via the web, ensuring your content is always up to date. Our screens can also feature your social media feeds, the weather, RSS feeds and more.
            </p>
        </div>
    </div>
</div>

<br>

<div class="row">
    <h2 class="text-muted">
        <strong>
            "In a world full of noise,
        </strong>

        <span class="text-primary">
            stand out
        </span>

        <strong>
            with our digital signage"
        </strong>
    </h2>

    <br>

    <div class="col-md-4">
        <img src="/img/home/music_theatre.jpg" alt="concert hall" class="img-responsive">
    </div>

    <div class="col-md-4">
        <img src="/img/home/convention_theatre.jpg" alt="convention theater" class="img-responsive">
    </div>

    <div class="col-md-4">
        <img src="/img/home/movie_theatre.png" alt="movie theater" class="img-responsive">
    </div>

    <br>
</div>
