<nav class="row">
  <header class="container">
    <div class="col-md-3">
      <img src="/img/logo.png" alt="logo" class="img-responsive">
    </div>

    <div id="navigation" class="col-md-9">
      <ul class="nav nav-pills nav-justified">
        <li>
          <a class="btn btn-primary-custom"
             role="button"
             href="/">
            Home
          </a>
        </li>

        <li>
          <a class="btn btn-primary-custom"
             role="button"
             href="/about">
            About
          </a>
        </li>

        <li>
          <a class="btn btn-primary-custom dropdown-toggle"
             data-hover="dropdown"
             aria-expanded="false"
             aria-haspopup="true"
             role="button"
             href="/our_product">
             Our Product <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a href="/our_product/#royalties">
                Content Management + Royalties
              </a>
            </li>

            <li>
              <a href="/our_product/#content_management">
                Content Management
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a class="btn btn-primary-custom dropdown-toggle"
             data-hover="dropdown"
             aria-expanded="false"
             aria-haspopup="true"
             role="button"
             href="/venues">
            Venues <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/music/">
                Music
              </a>
            </li>

            <li>
              <a href="/leisure/">
                Restaurants
              </a>
            </li>

            <li>
              <a href="/collegiate/">
                College
              </a>
            </li>

            <li>
              <a href="/medical/">
                Hospitals
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a class="btn btn-primary-custom dropdown-toggle"
             data-hover="dropdown"
             aria-expanded="false"
             role="button"
             href="/advertise">
            Advertise <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/sign_up">Sign Up</a></li>
          </ul>
        </li>

        <li>
          <a class="btn btn-primary-custom"
             role="button"
             href="/contact/#register">
            Register
          </a>
        </li>

        <li>
          <a class="btn btn-primary-custom"
             role="button"
             href="/contact/#contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </header>
</nav>
